---
import { Icon } from 'astro-icon/components'

const year = new Date().getFullYear();

const site = Astro.site.host;
---

<!-- <hr class="sr-only" /> -->
<footer class="px-16 py-8 mt-2.5 text-white bg-darkgray">
    <!-- <h1 class="sr-only" id="page-footer">Sitemap</h1> -->
    <div class="md:flex flex-row">
        <p class="grow">
            Copyright © {year} {site} /
	    <a href="legal-notice.html">Legal Notice</a>
        </p>
        <button id="goto-top" class="flex-none mt-3 sm:mt-0" onclick="goto_top()">
            <span class="flex flex-row items-center">
                <Icon name="mdi:arrow-up-thin" size="24px"/>
	        Back to top
            </span>
        </button>
    </div>
</footer>

{/*
document.body.scrollTop = 0; // For Safari
document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
*/}
<script is:inline>
function goto_top() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

<style>
</style>
