---
const year = new Date().getFullYear();

const site = Astro.site.host;
// URL {
//   href: 'https://fabrice-salvaire.fr/',
//   origin: 'https://fabrice-salvaire.fr',
//   protocol: 'https:',
//   username: '',
//   password: '',
//   host: 'fabrice-salvaire.fr',
//   hostname: 'fabrice-salvaire.fr',
//   port: '',
//   pathname: '/',
//   search: '',
//   searchParams: URLSearchParams {},
//   hash: ''
// }
---

<hr class="sr-only" />
<footer>
    <h1 class="sr-only" id="page-footer">Sitemap</h1>
    <div class="container">
        <ul class="list-inline">
            <li class="pull-right">
		<a href="index.html#page-top" data-spy="scroll">
		    <span class="fa fa-left fa-arrow-up"></span>
		    Back to top
		</a>
	    </li>
        </ul>
	<div class="col-sm-16">
            <p>Copyright © {year} {site} /
		<a href="legal-notice.html">Legal Notice</a>
	    </p>
	</div>
    </div>
</footer>

<style>
</style>
