---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: class_name, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<li>
    <a href={href}
        class:list={["px-2 uppercase", class_name, { active: isActive }]}
        {...props}
        role="menuitem">
        <span><slot /><span>
    </a>
</li>

<!-- #navbar > -->
{/* Buggy: It adds a height of lineheight
<style>
a::after
{
    content: "";
    display: block;
    height: 2px;
    /* bottom: 3px; * /
    background-color: #a1c42c;
    width: 0;
    transition: all .2s ease-out;
}
a:hover::after
{
    width: 100%
}
</style>
*/}

<style>
a:hover {
    color: #a1c42c;
}
</style>
