---
// https://www.lipsum.com/feed/html

interface Props {
    number_of_paragraphs: number;
}

const {
    number_of_paragraphs,
} = Astro.props;

const paragraphs = [
"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed cursus elit. Suspendisse tempus \
pharetra justo at ultrices. Sed consequat volutpat lorem non iaculis. Nulla efficitur dolor ligula, \
nec malesuada neque eleifend volutpat. Vestibulum urna augue, suscipit non augue vel, egestas semper \
nisl. Cras bibendum vel leo et eleifend. Integer vestibulum mattis sagittis. Cras mi tortor, iaculis \
nec ipsum ultricies, mattis placerat nisl. Sed et vestibulum orci. Quisque luctus erat a sapien \
pellentesque, vel molestie leo tempor. Phasellus ut ex tortor. Mauris sit amet mauris dui. Nam eu \
lorem ut nibh porta tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, \
per inceptos himenaeos. Maecenas vitae dui nec nisl iaculis imperdiet a nec metus. Nullam ultrices \
elementum orci, sed facilisis sem maximus in.",

"Nullam mauris lorem, sollicitudin quis nunc id, tincidunt aliquet ligula. Etiam vitae mi vel enim \
placerat tincidunt. Donec sapien nulla, sollicitudin eget pellentesque mollis, pretium vel \
erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla molestie, est id faucibus \
ullamcorper, orci magna suscipit nulla, id ullamcorper libero arcu nec neque. Vivamus vel ligula non \
sapien pharetra placerat vitae eget ex. Etiam pharetra ultrices dolor, ut aliquet lectus ultrices \
in. Aliquam ac rhoncus augue, eget laoreet justo.",

"Nulla facilisi. Phasellus ac elit posuere, tincidunt augue ac, aliquam massa. Vivamus aliquam mi id \
auctor commodo. Pellentesque venenatis lorem ut purus convallis, ut viverra nulla efficitur. Sed \
elementum et augue eget ultrices. Integer vel laoreet lorem. Nunc hendrerit velit augue, varius \
blandit velit convallis ac. In aliquam arcu nec nulla feugiat sagittis. Morbi et magna vitae est \
faucibus scelerisque. Morbi at sapien sed est ornare venenatis a maximus risus. Donec nec lectus \
tincidunt, porta est in, ornare risus. Morbi eleifend non massa consectetur laoreet. Nullam sodales \
condimentum magna, non eleifend odio elementum sit amet. Donec iaculis sem ligula, ac commodo nibh \
faucibus vel. Sed pharetra nulla eu mattis elementum. Pellentesque blandit diam vel libero porta \
sodales.",

"Aenean at ex fringilla, luctus est vel, laoreet felis. Donec ac posuere dui, non sollicitudin \
sapien. Donec ac felis nisl. Ut lobortis risus eu velit commodo, ac facilisis odio \
fringilla. Pellentesque laoreet ornare sem non molestie. Aliquam tristique, lacus id porttitor \
consectetur, nunc turpis finibus velit, eu commodo ex lacus vel mi. Donec a est et ex semper \
luctus. Integer sit amet nibh vitae lectus laoreet lobortis eu et metus.",

"Phasellus eu leo imperdiet dui consectetur dignissim. Aenean ac diam vulputate, vestibulum felis \
eget, luctus risus. Pellentesque venenatis laoreet mauris, eu cursus magna finibus ut. Vivamus quis \
vehicula ligula. Curabitur laoreet est at tortor facilisis, iaculis ultricies enim mattis. Etiam ac \
nibh ante. Nullam porta rhoncus imperdiet. Nunc tincidunt ante at ex lacinia luctus sed non \
augue. Pellentesque non aliquam libero, vel hendrerit mi. Morbi ac metus eros. Vestibulum ante ipsum \
primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum sit amet augue \
lorem. Aenean iaculis, ligula a vulputate fringilla, tortor libero iaculis lorem, non porta justo \
lacus eu tellus. Nam pharetra ullamcorper fermentum.",
]
---
{
    [...Array(number_of_paragraphs)].map((x, i) =>
        <p>{paragraphs[i]}</p>
    )
}
